<!DOCTYPE html>
{% load static %}
<html>
 
<head>
    <meta charset="utf-8" />
    <title>index</title>
</head>
 
<body>
    <form action="{% url 'backend:search_result' %}" method="GET">
        <input name="query" value="{{ request.GET.query}}" type="text">
        <button rype="submit">Search the Medical Dictionary</button>
    </form>    
    <h2>Browse the Medical Dictionary</h2>
    <h2>Word of the day</h2>
    {% for term in word_of_the_day %}
        <a href="{% url 'backend:detail' term.pk %}">{{ term }}</a>
    {% endfor %}
</body>
 
</html>